
footer.footer
    .container
        section.section
            .columns
                .column.is-half
                    h2.title.is-4= "Download the Android App"
                    p
                        |Tango Fury is available on the playstore ! Check it here :
                    p
                        a.button.is-large(href="https://play.google.com/store/apps/details?id=tango.fury")
                            <i class="fab fa-google-play"></i> Tango Fury for Android
                
                .column.is-half
                    h2.title.is-4= "Contact"
                    p
                        |Tango Fury is coded with love by Fabien Grignoux
                    h3.title.is-5= "Follow me on"
                    p.buttons 
                        a.button(href='https://www.facebook.com/fabien.grignoux')
                            <i class='fab fa-facebook-f'></i> Facebook
                        a.button(href='https://www.linkedin.com/in/fabien-grignoux-3ab9a4167/')
                            <i class="fab fa-linkedin-in"></i>linkedIn
                        a.button(href='https://fgrx.netlify.com')
                            <i class="fas fa-link"></i> My website

script.
    document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }
    });



script(src="/yall-js/dist/yall.min.js")
script(src="/list.js/dist/list.min.js")
script(src="/js/mediabox.min.js")

script.
    var options = {
        valueNames: [ 'maestroName','maestroRole' ],
        listClass: "myList"
    };
    var maestroList = new List('maestroList',options);

script.
    document.addEventListener("DOMContentLoaded", yall);

script. 
    MediaBox('.mediabox');

script.
    [].forEach.call(document.querySelectorAll('a.subscribeMaestro'), function(el) {
        el.addEventListener('click', function(event) {
            this.classList.add("is-hidden");
            messageBox=document.createElement("div");
            messageBox.classList.add("notification","is-small","is-success");
            messageBox.innerHTML="<i class='fas fa-check'></i> Added to your favorites";
            this.parentNode.insertBefore(messageBox,this);
            var maestro= this.dataset.maestro
            var httpRequest = new XMLHttpRequest();
            url="/account/subscribe/"+maestro;
            httpRequest.onreadystatechange = function(data) {
            };
            httpRequest.open("GET", url);
            httpRequest.send();
            event.preventDefault();
        })
        
    });


    [].forEach.call(document.querySelectorAll('a.unsubscribeMaestro'), function(el) {
        el.addEventListener('click', function(event) {
            this.classList.add("is-hidden");
            messageBox=document.createElement("div");
            messageBox.classList.add("notification","is-small","is-success");
            messageBox.innerHTML="<i class='fas fa-check'></i> Removed from your favorites";
            this.parentNode.insertBefore(messageBox,this);

            var maestro= this.dataset.maestro
            var httpRequest = new XMLHttpRequest();
            url="/account/unsubscribe/"+maestro;
            httpRequest.onreadystatechange = function(data) {
            };
            httpRequest.open("GET", url);
            httpRequest.send();
            event.preventDefault();
        })
        
    })

script.
    [].forEach.call(document.querySelectorAll('a.setTopVideo'), function(el) {
        el.addEventListener('click', function(event) {
            this.classList.add("is-hidden");
            messageBox=document.createElement("div");
            messageBox.classList.add("notification","is-small","is-success");
            messageBox.innerHTML="<i class='fas fa-check'></i> Added to top videos";
            this.parentNode.insertBefore(messageBox,this);
            const mode= this.dataset.mode;
            const video= this.dataset.video;
            let httpRequest = new XMLHttpRequest();
            const url=`/tango-videos/set-top/${video}/${mode}`;
            httpRequest.onreadystatechange = function(data) {
            };
            httpRequest.open("GET", url);
            httpRequest.send();
            event.preventDefault();
        })
        
    });