div.column.is-one-quarter-desktop.is-half-mobile.is-3-tablet
    a.mediabox(href="https://www.youtube.com/watch?v="+itemVideo.youtubeId target="_blank")
        div.itemVideo.card
            div.card-image
                figure.image.is-4by3
                    img.lazy(data-src=itemVideo.urlImage src="/img/placeholder.png" alt="watch video "+itemVideo.title)
            div.card-content
                div.content
                    h3.title.is-5= itemVideo.title
                    div.typeAndTime
                        if !itemVideo.type
                            span.videoType= "tango" 
                            span.videosTime= " "+moment(itemVideo.datePublication).format("YYYY/MM/DD") 
                        else
                            span.videoType= itemVideo.type 
                            span.videosTime= " "+moment(itemVideo.datePublication).format("YYYY/MM/DD") 
                    if(role=="admin")
                        .admin
                            if(itemVideo.topVideo==1)
                                a.setTopVideo.button.is-small(href="#" data-video=itemVideo.key data-mode=0)
                                    i.fas.fa-trash
                                    |Remove from top videos   
                            else
                                a.setTopVideo.button.is-small(href="#" data-video=itemVideo.key data-mode=1)
                                    i.fas.fa-star
                                    |Add to top videos

                        div
                            a.deleteVideo.button.is-small(href="#" data-video=itemVideo.key data-youtube=itemVideo.youtubeId data-mode=1)
                                i.fas.fa-trash
                                |delete video
                        
                        div.dropdown.is-hoverable.right
                            div.dropdown-trigger
                                button.button.is-fullwidth.is-small(aria-haspopup="true" aria-controls="dropdown-menu")
                                    span.icon.is-small
                                    i.fas.fa-folder
                                    span= "Type"
                                    span.icon.is-small
                                    i.fas.fa-angle-down(aria-hidden="true")
                            div.dropdown-menu#dropdown-menu(role="menu")
                                div.dropdown-content
                                    a.dropdown-item.typeVideo(href="#" data-type=null)= ""
                                    a.dropdown-item.typeVideo(href="#" data-type="tango" data-video=itemVideo.key)= "Tango"   
                                    a.dropdown-item.typeVideo(href="#" data-type="vals" data-video=itemVideo.key)= "Vals"   
                                    a.dropdown-item.typeVideo(href="#" data-type="milonga" data-video=itemVideo.key)= "Milonga"
                                    a.dropdown-item.typeVideo(href="#" data-type="lesson" data-video=itemVideo.key)= "Lesson"
                                    a.dropdown-item.typeVideo(href="#" data-type="other" data-video=itemVideo.key)= "Other"

