doctype html
html
  include includes/head.pug
  body
    include includes/menu.pug
    section.section
        div.container.padding
            h1.title.is-1= title

            div.dropdown.is-hoverable.right
                div.dropdown-trigger
                    button.button.is-fullwidth.is-medium(aria-haspopup="true" aria-controls="dropdown-menu")
                        span="Filter by "
                        span.icon.is-small
                        i.fas.fa-angle-down
                div.dropdown-menu#dropdown-menu(role="menu")
                    div.dropdown-content
                        a.dropdown-item(href='/tango-videos/all/0')= "All"
                        a.dropdown-item(href='/tango-videos/vals/0')= "Vals"
                        a.dropdown-item(href='/tango-videos/milonga/0')= "Milongas"
                        a.dropdown-item(href='/tango-videos/lesson/0')= "Lessons"
                        a.dropdown-item(href='/tango-videos/other/0')= "Others"

            section
                div.videosList.columns.is-multiline.is-mobile
                    each itemVideo,index in videos
                        include includes/itemVideo.pug
                
                p.is-centered.buttons
                    if offset>24
                        a.button(href="/tango-videos"+"/"+type+"/"+(offset-48))
                            <i class="fas fa-chevron-left"></i> previous videos
                    if nbResults>=24
                        a.button(href="/tango-videos"+"/"+type+"/"+offset)
                            |Next videos <i class="fas fa-chevron-right"></i>
        

    include includes/footer.pug